.body {
  font-family: Tahoma, sans-serif;
  background-color: rgb(243, 241, 236);
}

.tittle {
  width: 320px;
  text-align: center;
  margin: 0 auto;
}
.card {
  width: fit-content;
  margin: o auto;
}

.button {
  width: fit-content;
  margin: 0 auto;
  margin-top: 16px;
}

.img {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #1677ff;
}

.img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%;
}

.list {
  list-style: none;
  padding: 0;

  overflow: scroll;
  gap: 20px;
  overflow: scroll;
  scroll-snap-type: x mandatory;

  display: flex;
  flex-direction: row;
}

.list li {
  scroll-snap-align: center;
  border-radius: 10px;
}

.colored {
  color: #1677ff;
}
