.body {
  padding: 0;
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: rgb(243, 241, 236);
  height: 100vh;
}

.tittle {
  width: 320px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tittle h1 {
  height: 78px;
}
.card {
  width: fit-content;
  margin: o auto;
}

.button {
  width: fit-content;
  margin: 0 auto;
  margin-top: 16px;
}

.img {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #1677ff;
}

.img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 0;

  overflow: scroll;
  gap: 20px;
  overflow: scroll;
  scroll-snap-type: x mandatory;

  display: flex;
  flex-direction: row;
}

.list li {
  scroll-snap-align: center;
  border-radius: 10px;
}

.colored {
  color: #1677ff;
}

.white {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 10px 16px;
  margin: 32px 0 32px auto;
  width: 280px;
}

.white:not(:nth-of-type(2n)) {
  margin: 32px auto 32px 0;
}

.pastWhite {
  position: absolute;
  background-color: white;

  border-radius: 0% 100% 8% 92% / 0% 0% 100% 100%;
  width: 16px;
  height: 32px;
  right: 0;
  bottom: -16px;
}

.white:not(:nth-of-type(2n)) .pastWhite {
  left: 0;
  border-radius: 0% 100% 92% 8% / 0% 26% 74% 100%;
}
